Django
dj-static
django-extensions
django-test-without-migrations
dj-database-url
gunicorn
Pillow
python-decouple
pytz
six
static3
psycopg2
psycopg2-binary
boto3
django-storages
django-debug-toolbar
-e git://github.com/darklow/django-suit.git@v2#egg=django-suit
django-mptt==0.9.1
django-imagekit==4.0.2
