Django
dj-static
django-bootstrap4
django-extensions
django-test-without-migrations
dj-database-url
gunicorn
Pillow
python-decouple
pytz
six
static3
psycopg2
psycopg2-binary
boto3
django-storages
django-debug-toolbar
